.wrapper {
  flex:1;
  height: 100%;
}

.header {
  position: relative;
  align-items: center;
  display: flex;
  height: 45px;
  background: #fafafa;
  border-bottom:0.1px solid #d6d6d6;
  border-left: 0.1px solid #d6d6d6;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc( 100% - 47px );
}

.video {
  width: 95%;
  height: 95%;
}

.header__icon_zoom {
  position: absolute !important;
  width: 40px !important;
  height: 40px !important;
}
