
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

#thumbnails {
  overflow-y: scroll;
  min-width: 250px;
  height: 100%;
  background: #424242;
}

#thumbnails__ul {
  list-style: none;
  padding:0;
}

.thumbnails__item {
  text-align: center;
  margin:10px;
}

.thumbnails__item__img {
  width:100px;
}

.thumbnails__item__name {
  overflow: auto;
  width:150px;
}

#capture {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

#capture__video {
  width: 90%;
}

#capture__action {
  position: absolute;
  width: 20vmax;
  height: 20vmax;
}

.capture__action_svg {
  font-size: 20vmax !important;
  opacity:0.8;
}

.capture__action_svg_record {
  composes: capture__action_svg;
  color: #f50057;
}

.capture__action_svg_stop {
  composes: capture__action_svg;
  color: #472dff;
}
