
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

#menu {
  width: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2b343c;
}

.menu_title {
  position: absolute;
  bottom:0px;
  font-size: 10px;
}

#capture_list {
  width: 250px;
  height: 100%;
  background: #f0f1f1;
}

.capture_list__header {
  position: relative;
  display: flex;
  align-items: center;
  width :100%;
  height: 45px;
  background: #fafafa;
  border-bottom:0.1px solid #e6e6e6;
}

.header__icon_update {
  position: absolute !important;
  right: 0px !important;
  width: 40px !important;
  height: 40px !important;
}

#thumbnails {
  overflow-y: scroll;
  width: 100%;
  height: calc( 100% - 45px );
  border-right: 0.1px solid #e6e6e6;
}

.thumbnails__item {
  display: flex;
  margin:5px;
  min-height: 70px;
  align-items: center;
  border-radius: 3px;
  border: 0.1px solid #e6e6e6;
  background: #fff;

}

.thumbnails__item__img {
  border-radius: 5px;
  margin-left: 10px;
}

.thumbnails__item__name {
  overflow: auto;
  width:150px;
  padding-left: 10px;
}

#capture {
  flex:1;
  height: 100%;
  position: relative;
}

.capture__header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width:100%;
  height: 45px;
  background: #fafafa;
  border-bottom: 0.1px solid #e6e6e6;
  border-left: 0.1px solid #e6e6e6;
}

.capture__body {
  height: calc( 100% - 45px - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.capture__body__video {
  width: 60vmax;
  height: 50vmin;
}

.capture__body__action {
  position: absolute !important;
  width: 20vmin !important;
  height: 20vmin !important;
}

.capture__body__action_svg {
  font-size: 20vmin !important;
  opacity:0.8;
}

.capture__body__action_svg_record {
  composes: capture__body__action_svg;
  color: #f50057;
}

.capture__body__action_svg_stop {
  composes: capture__body__action_svg;
  color: #472dff;
}

.capture__footer {
  height: 50px;
  width: 100%;
  background: #fafafa;
  border-top: 0.1px solid #e6e6e6;
  border-left: 0.1px solid #e6e6e6;
}
